@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.RouteTransition {
  animation: pageFade 0.6s ease both;
}

